<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artefact</title>
    <link rel="stylesheet" href="../static/css/download.css" />
  </head>
  <body>
    <div class="blour">
      <div id="left_blour"></div>
      <div class="center_block">
        <div class="center">
          <img src="https://piskel-imgstore-b.appspot.com/img/28cfd270-6d5a-11ef-b588-25a231f927c0.gif" alt="logo" id="logo_img" />
          <div id="blourbacklogo"></div>
            <div id="update_popup">
                <p id="updateTxt">UPDATE  FOUND</p>
            </div>
          </div>
          </div>
        </div>
      <div id="right_blour"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/download.js') }}"></script>
  </body>
</html>
